@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p class="lead">to The Joel Hilton Film Collection!</p>

    <img class="rounded" src="~/img/jh.jpg" width="750" />
</div>
